# Virtual environment
venv/
.venv/
env/

# Dados sensíveis / não versionar
DiariasEPassagens.csv
DiariasEPassagens_ultimos_2_anos.csv
DiariasEPassagens*.csv

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.dbbase_rene_estevam_deckers.csv
